.collection-page {
  padding: 14vmin 7vmin 7vmin 7vmin;
  margin: 0;
  width: auto;
  background-color: #FFF9F0;
}

.collection-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

/* Default: 3 kolom */
.collection-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
}
