.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 64px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #030B16;
    color: #ffffff;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.logo img {
    width: 32px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  text-decoration: underline;
}
